/*Reset*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*Inizio Header Nav*/

nav > .nav-container{
    display: flex;
    justify-content: center;
    height: 40px;
    background-color: orange;
    box-shadow: 0px 1px 3px 2px rgba(0,0,0,0.43);
    color: white;
    position: sticky;
    top: 0;
}

.nav-container > .sesso{
    text-align: start;
    width: 400px;
    /*Debug*/
    min-width: 200px;
    line-height: 40px;
}

.nav-container > .logo-container{
    text-align: center;
    width: 150px;
    /*Debug*/
    min-width: 100px;
}

.nav-container > .logo-container > img{
    width: 150px;
    /*Debug*/
    line-height: 40px;
    min-width: 100px;
}

.nav-container > .account{
    text-align: end;
    width: 400px;
     /*Debug*/
     min-width: 200px;
     line-height: 40px;
}

/*Main Container*/

main{
    background-color: gray;
    display: flex;
    padding: 30px 150px;
}

.main-container{
    display: flex;
    flex-wrap: wrap;
    gap: 40px 20px;
    justify-content: center;
}

.main-container > div{
    background-color: white;
    border: 1px solid black;
    min-height: 200px;
    height: 450px;
    min-width: 100px;
    width: 300px;
    box-shadow: 0px 1px 3px 2px rgba(0,0,0,0.43);
}

/*Prima Foto*/

.main-container > div:nth-child(1) {
    display: block;
    background-image: url(../img/1.webp);
    background-size: cover;
}

.main-container > div:nth-child(1):hover{
    cursor: pointer;
    background-image: url(../img/1b.webp);
} 

/*Seconda Foto*/

.main-container > div:nth-child(2) {
    display: block;
    background-image: url(../img/2.webp);
    background-size: cover;
}

.main-container > div:nth-child(2):hover{
    cursor: pointer;
    background-image: url(../img/2b.webp);
} 

/*Terza Foto*/

.main-container > div:nth-child(3) {
    display: block;
    background-image: url(../img/3.webp);
    background-size: cover;
}

.main-container > div:nth-child(3):hover{
    cursor: pointer;
    background-image: url(../img/3b.webp);
} 

/*Quarta Foto*/

.main-container > div:nth-child(4) {
    display: block;
    background-image: url(../img/4.webp);
    background-size: cover;
}

.main-container > div:nth-child(4):hover{
    cursor: pointer;
    background-image: url(../img/4b.webp);
} 

/*Quinta Foto*/

.main-container > div:nth-child(5) {
    display: block;
    background-image: url(../img/5.webp);
    background-size: cover;
}

.main-container > div:nth-child(5):hover{
    cursor: pointer;
    background-image: url(../img/5b.webp);
} 

/*Sesta Foto*/

.main-container > div:nth-child(6) {
    display: block;
    background-image: url(../img/6.webp);
    background-size: cover;
}

.main-container > div:nth-child(6):hover{
    cursor: pointer;
    background-image: url(../img/6b.webp);
} 